article{
    padding: 40px;
    margin-bottom: 20px;
    background: white;
}
article h2 a,article h2 a:hover{
font: 36px/30px '微软雅黑','黑体','文泉驿正黑体',sans-serif;
}
article h2 a{
color: rgb(28,106,176);
}
article h2{
margin-bottom: 8px;
}
article h2 a:hover{
color: black;
}



article span {
    font: 12px/18px  '微软雅黑','黑体','文泉驿正黑体',sans-serif;
}
article span a{
    color: rgb(102,102,102);
}
article span a:hover{
    color: rgb(28,106,176);
}
#tag18{
    color: rgb(102,102,102);
}
#tag18:hover{
    color: rgb(28,106,176);
}


article div{
    margin-bottom: 40px;
}
article p{
    font: 15px/22.5px  "宋体","新宋",serif;
}
#page{
    width: 805px;
    height: 25px;
    font: 17px/22.5px '微软雅黑','黑体','文泉驿正黑体',sans-serif;
}